<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursoandroid.testefb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PesquisaActivity" />
        <activity android:name=".MenuUsuarioActivity" />
        <activity android:name=".DetalheUsuario" />
        <activity android:name=".UsuariosListActivity" />
        <activity android:name=".Teste" />
        <activity android:name=".ListaLeitosActivity" />
        <activity android:name=".DetalheLeitoActivity"/>
        <activity android:name=".NadaActivity" />
        <activity android:name=".ListaSetoresActivity" />
        <activity android:name=".LeitosOpcoesActivity" />
        <activity android:name=".LeitosStatusActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ValidadorActivity" />
        <activity android:name=".CadastroUsuarioActivity" />
        <activity android:name=".CadastroSetorActivity" />
        <activity android:name=".CadastroLeitoActivity" />
        <activity android:name=".GerenciaUsuariosActivity" />
        <activity android:name=".DetalheUsuarioActivity" />
        <activity android:name=".MainUserActivity" />
        <activity android:name=".MudarSetorLeitoActivity" />
    </application>

</manifest>